table {
    margin: 0 auto;
    border-collapse: collapse;  /* отключаю промежутки между ячеек */
}

td, th {
    padding: 1em;
}

th {
    border-bottom: 0.4em solid black;
}

td {
    border-bottom: 0.2em solid #6b6b6b;
}

tr:nth-child(even) { /* каждая четная строчка таблицы */
    background: #eaeaea;  /* имеет другой фон */
}


