.box {
    width: 150px; /* ширина блока - 150 пикселей */
    background: #8c4bae;  /* фон блока */
    border: 5px solid #a5ff24;
    /* рамка вокруг блока: 5пикселей сплошная зеленая*/
    margin: 50px; /* внешний отступ со всех сторон 50 пикселей */
    padding: 20px; /* внутренний отступ со всех сторон 20 пикселей */
}

.alternative {
    box-sizing: border-box;
    /* теперь размеры моего элемента автоматически подстраиваются под
     width. Границы и отступы при этом не плюсуются. */
}


