.box {
    width: 30%; /* ширина блока - 30% от экрана */
    background: #8c4bae;  /* фон блока */
    border: 0.5em solid #a5ff24;
    /* рамка вокруг блока: 0.25от_размера_браузера сплошная зеленая*/
    margin: 1.2em; /* внешний отступ со всех сторон 1.2_от_размера_браузера */
    padding: 1.3em; /* внутренний отступ со всех сторон 1.3_от_размера_браузера */

    transition: all 0.5s ease-in-out;
    /* анимировать: все в_течение_0.5_сек плавно;
     анимирует свойства прописанные в псевдоклассе
     */
}

.alternative {
    box-sizing: border-box;
    /* теперь размеры моего элемента автоматически подстраиваются под
     width. Границы и отступы при этом не плюсуются. */
}

/* Псевдокласс позволяет указать, что нужно делать блоку
 в определенной ситуаии. */

.box:hover {  /* псевдокласс hover отслеживает, наведение мыши на блок */
    width: 45%;
    border-radius: 1em; /* скругление углов */
    background: aquamarine;
}

/* ^ когда на мой блок наводится курсор мыши, он увеличивается
 и скругляет углы */
